@import 'vars.scss';

.info {
    padding: 120px 0 50px 0;
    background-image: url(./img/info-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.info-top {
    display: flex;
    align-items: flex-end;
    gap: 80px;
    margin-bottom: 680px;

    &__column {
        display: flex;
        flex-direction: column;
        width: 290px;

        &_2::after {
            content: '';
            width: 100%;
            height: 1px;
            background-color: #FFFFFF;
        }
        
    }

    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;

        &_1 {
            margin-bottom: 82px;
        }
        &_2 {
            margin-bottom: 30px;
        }
    }

    &__play-btn {
        align-self: flex-end;
    }


    &__img {
        z-index: 4;
        width: 227px;
        height: 650px;
    }


}

.play-btn {
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    transition: fill .3s ease, color .3s ease;
}

.play-btn path {
    transition: fill .3s ease;
}

.play-btn:hover,
.play-btn:focus {
    color: $blue;
}

.play-btn:hover path,
.play-btn:focus path {
    fill: $green;
}

.info-bottom {
    display: flex;
    align-items: center;

    &__column:not(:last-child) {
        margin-right: 162px;
    }

    &__title {
        font-family: 'Comfortaa';
        font-style: normal;
        font-weight: 400;
        font-size: 60px;
        line-height: 67px;
        color: #FFFFFF;
    }
}

.specs {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    padding: 30px 0;

    &__item {
        display: flex;
        flex-direction: row;
        gap: 25px;
    }

    &__caption {
        width: 205px;
    }


}