@import 'vars';

@media (max-width: 1600px) {
    
    .header {
        background-position: 35%;


    }

}

@media (max-width: 1024px) {
    
    .header {

        &::before {
            height: 300px;
        }
        &::after {
            height: 300px;
        }

        &__intro {
            min-height: calc(100vh - 300px);
        }

        &__decor-text {
            bottom: -100px;
        }


        .transparent-tag_1 {
            left: 60%;
        }

    }

}

@media (max-width: 800px) {

    .header {
        // background-position: 30%;

        &__intro {
            align-items: center;
            // justify-content: center;
        }

        &__title {
            text-align: center;
            font-size: 52px;
            line-height: 60px;
        }

        &__decor-text {
            bottom: -60px;
        }

        &__transparent-tag {

            &_2 {
                bottom: 140px;
            }

        }

        .transparent-tag_1 {
            display: none;
        }
        .transparent-tag_2 {
            bottom: 0;
            left: 5%;
            z-index: 4;
        }

    }

    .header-nav {
        flex-direction: column;
        padding-bottom: 10px;
        padding-top: 20px;

        &__logo {
            margin-bottom: 40px;
        }

        &__logo-link {
            margin-right: 0;
        }

        &__button {
            margin-right: 0;
            width: 70%;
            margin-bottom: 40px;
            font-size: 28px;
        }

        &__tel {
            font-size: 28px;
        }


    }

}

@media (max-width: 500px) {
    .header {


        &::before {
            height: 250px;
        }
        &::after {
            height: 250px;
        }


        &__title {
            font-size: 34px;
            line-height: 40px;
        }

        &__decor-text {
            bottom: -70px;
            font-size: 22px;
        }

        .transparent-tag_2 {
            display: none;
        }

    }

    .header-nav {

        &__button {
            margin-bottom: 30px;
            width: 60%;
            font-size: 22px;
            padding: 10px 0;
        }

    }


}