@media (max-width: 1300px) {
    .footer {

        &__img-list {
            justify-content: start;
            flex-wrap: wrap;
            gap: 30px;
        }

        &__menu-links {
            justify-content: start;
            flex-wrap: wrap;
            gap: 30px;
        }

    }

}

@media (max-width: 1024px) {
    .footer {
        padding-top: 40px;

        &__contact-us-box {
            flex-direction: column-reverse;
        }

        &__logo-wrap {
            align-self: center;
            // display: none;
            margin-bottom: 50px;
        }

        &__logo {
            width: 120px;
            height: 27px;
        }

        &__title {
            font-size: 48px;
            line-height: 52px;
        }

        &__form-wrapper {
            align-self: center;
        }


    }


}

@media (max-width: 600px) {
    .footer {
        padding-bottom: 20px;
        padding-top: 20px;

        &__img-list {
            justify-content: center;
        }

    }

}

@media (max-width: 500px) {
    .footer {

        &__title {
            font-size: 38px;
            line-height: 42px;
        }

    }

    .form {
        
        &__button {
            align-self: center;
        }

    }

}